# Ignore node_modules
node_modules/

# Ignore config directory
config/

# Ignore .env files (comment out this line to track `config.env`)
# *.env

# Optional: Add other files/folders you want to ignore
*.log
.DS_Store
